header {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #C80004;
    width: 100vw; 
    height: 100vh;
    position: relative;
    padding: 20px 0;
}

.nav_logo {
    width: auto;
    height: 350px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

nav {
    display: flex;
    justify-content: space-between; 
    width: 90%; 
}

.nav_links {
    text-decoration: none;
    font-size: 40px;
    color: #FBA105;
    padding: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav_links:hover {
    transform: scale(1.2);
}


    
footer {
        margin-top: 150px;
        background-color: #C80004;
    }
form {
        padding-left: 25px;
        padding-bottom: 25px;
    }
.header_fb {
    display: flex;
    align-items: center;
}
.footer_heading{
        color: #FCF6F5; 
    }
form, label {
        color: #FCF6F5;
    }
.banner_img {
    width: 1600px;
    height: 500px; 
}
.footer_heading {
    text-align: center;
}


.name_email {
    flex: 1;
    align-items: center;
    margin-left: 150px;

}

.reccomendation {
    flex: 1;
    align-items: center;
}

.skip {
    background-color: #333333;
    color: #ffffff;
    padding: 8px;
    border: 1px solid black;
    position: absolute;
    top: 10px;
    left: -999px; 
}
.skip:focus {
    left: 10px;
}

.form_fb {
    display: flex;
}
.name_email, .reccomendation {
    margin-left: 10px;  
    margin-right: 10px;
}

textarea {
    max-width: 100%;  
    box-sizing: border-box; 
}

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #C80004;
}
.footer_text {
    color:#FBA105;
}
#desktop_logo {
    display: block;
    width: 100%; 
    max-width: 600px;
    height: auto;
    margin: auto;
}

#mobile_logo {
    display: none;
    width: 200px; 
    max-width: 200px;
    height: auto;
    margin-right: 20px;
}


@media screen and (max-width: 768px) {
    .banner_img {
        width:300px;
        height:100px
    }
    .form_fb {
        flex-direction: column;
        align-items: center;

    }
    .name_email {
        margin: 0px;
    }
    .form_tb {
        width: 250px;
        height: 30px;
    }

    #desktop_logo {
        display: none;
    }

    #mobile_logo {
        display: block;
        max-width: 300px;
    }

    .nav_links {
        flex-direction: column;
        align-items: center;
    }

    .nav_menu {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .nav_logo {
        height: 60px;
        margin-bottom: 10px;
    }
}
